.landing-h1-gradient {
    background: linear-gradient(82deg, rgba(89,74,226,1) 0%, rgba(255,102,153,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.docs-brand-text {
    letter-spacing: .2rem;
    font-weight: 400;
    font-family: 'Roboto';
    margin-inline-start: 12px;
    font-size: 24px;
    user-select: none;
}

.docs-mudblazor-logo {
    width: 40px;
}